extends layout

block content
    .row#head.text-xs-center
      .col-md-8.offset-md-2
        h2.display-3#catbrick-header CATBRICK!
    .row#row-2.text-xs-center
      .col-md-8.offset-md-2
        #game
