extends layout

block stylesheets
    link(rel='stylesheet', href='libs/normalize-css/normalize.css')
    link(rel='stylesheet', href='libs/tether/dist/css/tether.css')
    link(rel='stylesheet', href='libs/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='libs/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='styles/style.css')
    link(rel='stylesheet', href='styles/catbrick-styles.css')
block content
  .container-fluid
    #game
block scripts
    script(src='libs/phaser/build/phaser.js')
    script(src='scripts/game.js')
    script(src='libs/tether/dist/js/tether.js')
    script(src='libs/jquery/dist/jquery.js')
    script(src='libs/bootstrap/dist/js/bootstrap.js')
    script(src='libs/angular/angular.js')
    script(src='scripts/app.js')
