extends layout

block content
        .row
            .col-md-10.offset-md-1.contact-content-main.col-xs-12
                h1.display-4.m-b-2.text-xs-center Contact Us
                p {{ bacon }}
                p {{ bacon }}
                a.btn.btn-primary.btn-block(href='#') Get In Touch
