extends layout

block content
    .row
      .col-md-10.offset-md-1.home-content-main.col-xs-12
        h1.display-4 Guiltless Feline Obsession
        p Join a community of cat enthusiast's where the only rule is an unhealthy obsession for all things feline.
        hr.m-a-2
        small {{ bacon }}
        hr.m-a-2
        a.btn.btn-primary.btn-block(href='/register') Register Now!
