extends layout

block content
    .row
        .col-md-12
            h1.display-4 The Home For Cat Fancier's
            p.lead Join a community of cat enthusiast's where the only rule is an unhealthy obsession for all things feline.
            a.btn.btn-primary.btn-lg(id='', href='/index') Get Started Today for FREE!
