.flex-container {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}

#one {
  background-color: #D72B1E;
  padding: 2em;
  flex: 1 0 0;
}

#two {
  background-color: #F0EAAB;
  padding: 2em;
  flex: 2 0 0;
}
