@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Freckle+Face';
body {
    background: url('../images/flowers-sunset.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    color: #fff;
    overflow-x: hidden;
}
.text-default {
    color: #474747;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}
#sidebar-wrapper {
    margin-left: -200px;
    left: 70px;
    width: 200px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}
.sidebar-nav {
    display: block;
    float: left;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 200px;
}
#wrapper.active #sidebar-wrapper {
    left: 200px;
}
#page-content-wrapper {
    width: 100%;
}
#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 200px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}
.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}
.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
}
.sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav> .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}
.sidebar-nav> .sidebar-brand a {
    color: #999999;
}
.sidebar-nav> .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
#main_icon {
    float: right;
    padding-right: 65px;
    padding-top: 20px;
}
.sub_icon {
    float: right;
    padding-right: 65px;
    padding-top: 10px;
}
.content-header {
    height: 65px;
    line-height: 65px;
}
.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
        padding-left: 70px;
        transition: all .4s ease 0s;
    }
    #sidebar-wrapper {
        left: 70px;
    }
    #wrapper.active {
        padding-left: 200px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 200px;
        width: 200px;
        transition: all .4s ease 0s;
    }
}

.registrationForm {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 2em;
    padding-left: 4em;
    padding-right: 4em;
    color: #474747;
}
.formHeading {
    padding-bottom: 0.3em;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
.errorMessage {
    padding: 5em;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 1em;
    color: #BF5151;
    border-radius: 10px;
}
.home-content-main {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 4em;
    color: #474747;
}
.contact-content-main {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 4em;
    color: #474747;
}
.about-content-main {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 2em;
    padding-left: 4em;
    padding-right: 4em;
    color: #474747;
}
.profile-content-main {
    color: #FFF;
    padding: 20px;
    background-color: #0F85F4;
}
@keyframes dance {
    0% {
        left: -80%;
    }
    100% {
        left: 80%;
    }
}
#dancing-cat {
    position: relative;
    padding: 5em;
    height: auto;
    animation: 2s linear dance infinite alternate;
}
.login-content-main {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 2em;
    padding-left: 4em;
    padding-right: 4em;
    color: #474747;
}
#posts {
    overflow-x: hidden;
}
.new-post-horizontal-line {
    margin-top: 20px;
    margin-bottom: 20px;
}
#post-row-btn {
    position: relative;
    display: inline-block;
    padding: 2em;
    font-size: 12px;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 0.7em;
}
#post-row-1-heading {
    padding-bottom: 10px;
    margin-top: -30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
#post-row-1-body {
    margin-top: 20px;
}
#post-row-3 {
    margin-bottom: 3em;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}
@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
.sidebar-toggle-hamburger {
    transiation: all 2s;
}
.fa-times {
  color: #FF8C8C;
}
.fa-navicon {
  color: #93C396;
}
@keyframes run {
    from {
        left: -100%;
    }
    to {
        left: 100%;
    }
}
.profile-image {
    position: absolute;
    left: -100%;
    bottom: -20px;
    animation: run 3s linear 1s infinite;
}
#game {
    transform: scale(0.8, 0.8);
    max-width: 100%;
    margin: auto;
}
.fat-cat-gif {
    max-width: 100%;
    margin: auto;
    margin-top: -35px;
    display: block;
    border: 3px solid rgba(0, 0, 0, 0.5);
}
#profile-figure {
    display: block;
    max-width: 100%;
    margin: auto;
    padding-bottom: 1em;
    /* border: 3px solid rgba(0, 0, 0, 0.5); */
}
.figure-caption {
    margin-top: -30px;
}
#profile-table {
    padding: 1em;
    border: none;
    /* border: 3px solid rgba(0, 0, 0, 0.5); */
}
#profile-row {
    color: #474747;
}
.profile-button-bottom {
    margin: auto;
    width: 100%;
    font-size: 16px;
    border: none;
    color: #FFF;
    background-color: #0074E2;
}
.profile-button-bottom-one:hover {
    transition: background-color 1s, color 1s;
    ;
    color: #FFF;
    background-color: #00529F;
}
.profile-button-bottom-two:hover {
    transition: background-color 1s, color 1s;
    color: #FFF;
    background-color: #00529F;
}
#profile-card {
    background-color: #7EC1FF;
    border: 1px solid #7EC1FF;
}
#profile-card * {
    border: none;
}
.profile-cat-details-heading {
    color: #DAECF7;
    background-color: #0F85F4;
}
.profile-center-div {
    border: none;
}
.profile-content-footer {
    background-color: #0F85F4;
    border: 1px solid #0F85F4;
}
canvas {
    width: 100%;
    margin: auto;
    display: block;
}
